/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
@media (prefers-color-scheme: dark) {
  :root {
    --header-disc-color: #ff0070;
    --header-title-color: #db00ff;
    --accent-color: #ff0070;
    --page-background-image: url("../images/cover-image-dark.png");
    --main-color: #f1b2ce;
    --page-background-color: #000028;
    --header-disc-text-color: #000028;
    --menu-color: #ff0070;
    --rec-display: block;
    --main-section-title-color: #ff0070;
    --card-title-color: #000028;
    --menu-accent-color: #ff007066;
    --menu-hover-color: rgba(255, 0, 112, 0.4);
  }
  .decorate-rec {
    display: block;
  }
  .decorate-rec::before {
    display: block;
  }
}
.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --header-disc-color: #ff0070;
  --header-title-color: #db00ff;
  --accent-color: #ff0070;
  --page-background-image: url("../images/cover-image-dark.png");
  --main-color: #f1b2ce;
  --page-background-color: #000028;
  --header-disc-text-color: #000028;
  --menu-color: #ff0070;
  --rec-display: block;
  --main-section-title-color: #ff0070;
  --card-title-color: #000028;
  --menu-accent-color: #ff007066;
  --menu-hover-color: rgba(255, 0, 112, 0.4);
}

.page.theme_dark .decorate-rec {
  display: block;
}

.page.theme_dark .decorate-rec::before {
  display: block;
}
