/* Глобальные стили для проекта, их можно дополнять и менять по желанию */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-inline-size: 375px;
  max-inline-size: 1440px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.header__discription {
  background-color: var(--header-disc-color);
}
.header__title {
  font-family: "IBM Plex Mono";
  font-size: 116px;
  font-weight: 700;
  line-height: 95.7px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--header-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}
.header {
  margin: 10px;
  width: 355px;
  background-image: url("../images/cover-image-light.png");
  background-size: cover;
  background-position:center;
}
.decorated-zone::before {
  content: "";
  display: block;
  position: relative;
  height: 25px;
  width: 25px;
  left: 330px;
  border-top: 1px;
  border-right: 1px;
  border-bottom: 0px;
  border-left: 0px;
  border-style: solid;
  border-color: #353430;
}
.decorated-zone::after {
  content: "";
  display: block;
  position: relative;
  height: 25px;
  width: 25px;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 1px;
  border-left: 1px;
  border-style: solid;
  border-color: #353430;
}
.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
  margin-bottom: 70px;
  align-items: end;
}

.header__theme-menu-button {
  font-family: "IBM Plex Mono";
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: lowercase;
  background-color: transparent;
  border: none;
  color: #353430;
  padding: 1.5px 13px 4px 13px;
}
.header__theme-menu-button_active {
  border: 1px solid #353430;
}

.header__discription {
  margin-top: 55px;
  font-family: "IBM Plex Mono";
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 31px;
}
