/* Глобальные стили для проекта, их можно дополнять и менять по желанию */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-inline-size: 375px;
  max-inline-size: 1440px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
/*--------------------GLOBAL--------------------*/
.background__text {
  background-color: var(--header-disc-color);
}

.text {
  font-family: "IBM Plex Mono", sans-serif;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  font-size: var(--main-text-size);
  color: var(--main-color);
  line-height: var(--text-line-height);
}

.page {
  max-width: var(--page-max-width);
  background-color: var(--page-background-color);
  display: grid;
  grid-template-columns: 100%;
  row-gap: var(--page-row-gap);
}
.decorated-zone {
  border: var(--page-padding);
}
.decorated-zone::before {
  content: "";
  display: block;
  position: relative;
  height: 25px;
  width: 25px;
  left: var(--decorated-zone-left);
  border-top: 1px;
  border-right: 1px;
  border-bottom: 0px;
  border-left: 0px;
  border-style: solid;
  border-color: var(--main-color);
}

.decorated-zone::after {
  content: "";
  display: block;
  position: relative;
  height: 25px;
  width: 25px;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 1px;
  border-left: 1px;
  border-style: solid;
  border-color: var(--main-color);
}
/*--------------------HEADER--------------------*/
.header__title {
  font-size: var(--header-title-font-size);
  font-weight: 700;
  line-height: var(--header-title-line-height);
  color: var(--header-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  padding: var(--header-title-padding);
  position: relative;
  left: var(--header-title-left);
  letter-spacing: var(--header-title-letter-spacing);
}

.header {
  background-image: var(--header-background-image);
  background-size: cover;
  background-position: center;
  /* background-repeat: no-repeat; */
  /* padding: 10px; */
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: var(--header-menu-margin-top);
  align-items: end;
}

.header__theme-menu-button {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-transform: lowercase;
  border: none;
  color: var(--main-color);
  padding: 1.5px 13px 4px 13px;
  background-color: transparent;
}

.header__theme-menu-button_active {
  border: 1px solid var(--main-color);
}

.header__container {
  display: grid;
  grid-template-columns: 100%;
  row-gap: var(--header-gap);
  margin-bottom: var(--header-margin-bot);
}

.header__discription {
  margin: var(--header-disc-margin);
  font-weight: 700;
}
/*--------------------MAIN--------------------*/
.main__container {
  padding: var(--main-padding);
  display: grid;
  grid-template-columns: 100%;
  row-gap: var(--main-row-gap);
}

.section__container {
  display: grid;
  grid-template-columns: var(--section-columns);
  row-gap: var(--section-row-gap);
  column-gap: var(--section-col-gap);
}

.main__title {
  font-weight: 700;
}

.card__title {
  font-weight: 700;
}

.text__link {
  text-shadow: var(--accent-color) 1px 1px;
}

.text__link:hover {
  text-decoration: underline;
  text-underline-offset: 1px;
}

.text__link:focus {
  outline: none;
}

.text__link:focus-visible {
  outline: var(--main-color) 1px solid;
}

.block__title {
  font-weight: 400;
}

.card {
  grid-column-start: var(--card-grid-column-start);
  display: grid;
  grid-template-columns: 100%;
  row-gap: var(--card-row-gap);
}
.one-column {
  grid-template-columns: var(--one-column-grid-template);
}

.full-column {
  grid-column-start: 1;
  grid-column-end: 5;
}

.cards {
  display: grid;
  grid-template-columns: 100%;
  row-gap: var(--cars-row-gap);
}

.subcard {
  display: grid;
  grid-template-columns: 100%;
  row-gap: var(--subcards--row-gap);
}
/*-----------------------------------------*/
.card-images {
  margin-top: var(--card-image-margin-top);
  display: grid;
  grid-template-columns: var(--card-image-template-columns);
  row-gap: var(--card-image-row-gap);
}

.img {
  object-fit: cover;
  width: 100%;
}

.footer__title {
  padding-top: var(--footer-title-padding);
  padding-bottom: var(--footer-title-padding);
  font-size: var(--header-title-font-size);
  font-weight: 700;
  line-height: var(--header-title-line-height);
  color: var(--header-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  position: relative;
  letter-spacing: var(--header-title-letter-spacing);
  text-align: center;
}

@media (width>375px) {
  .card-images {
    gap: 20px;
  }
  .img {
    width: 100%;
    height: 100%;
  }
  .img__sunset {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .img__ice-cream {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .img__tape {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
  }
  .img__books {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .img__street {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .footer__title {
    text-align: center;
  }
}
