/* Глобальные стили для проекта, их можно дополнять и менять по желанию */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-inline-size: 375px;
  max-inline-size: 1440px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
/*--------------------GLOBAL--------------------*/
.background__text {
  background-color: var(--header-disc-color);
}

.text{
  font-family: "IBM Plex Mono", sans-serif;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.page {
  max-width: 375px;
  background-color: var(--page-background-color);
  display: grid;
  grid-template-columns: 100%;
  row-gap: 40px;
}

.decorated-zone::before {
  content: "";
  display: block;
  position: relative;
  height: 25px;
  width: 25px;
  left: var(--decorated-zone-left);
  border-top: 1px;
  border-right: 1px;
  border-bottom: 0px;
  border-left: 0px;
  border-style: solid;
  border-color: var(--main-color);
}

.decorated-zone::after {
  content: "";
  display: block;
  position: relative;
  height: 25px;
  width: 25px;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 1px;
  border-left: 1px;
  border-style: solid;
  border-color: var(--main-color);
}
/*--------------------HEADER--------------------*/
.header__title {
  font-size: var(--header-title-font-size);
  font-weight: 700;
  line-height: var(--header-title-line-height);
  color: var(--header-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  padding-top: var(--header-title-padding-top);
  padding-bottom: var(--header-title-padding-bot);
}

.header {
  padding: var(--header-padding);
  background-image: var(--header-background-image);
  background-size: cover;
  background-position: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: var(--header-menu-margin-top);
  align-items: end;
}

.header__theme-menu-button {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-transform: lowercase;
  border: none;
  color: var(--main-color);
  padding: 1.5px 13px 4px 13px;
}
.header__theme-menu-button_active {
  border: 1px solid var(--main-color);
}
/* --------------------------------------------------------------------- */
.header__discription {
  font-family: "IBM Plex Mono";
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 31px;
}
.main__container {
  padding: 0px 10px 10px 10px;
  width: 375px;
  background-color: #fff1f7;
  display: grid;
  grid-template-columns: 365px;
  row-gap: 50px;
}
.section__container {
  display: grid;
  grid-template-columns: 355px;
  row-gap: 20px;
}
.main__title {
  font-family: "IBM Plex Mono";
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.card__title {
  font-family: "IBM Plex Mono";
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #353430;
  display: block;
  width: 355px;
}
.text1 {
  font-family: "IBM Plex Mono";
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.text__link {
  text-shadow: #ff8dcb 1px 1px;
}

.block__title {
  font-family: "IBM Plex Mono";
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.card {
  display: grid;
  grid-template-columns: 355px;
  row-gap: 10px;
}
.card2 {
  display: grid;
  grid-template-columns: 355px;
  row-gap: 20px;
}
.subcard {
  display: grid;
  grid-template-columns: 355px;
  row-gap: 10px;
}
.card-images {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 355px;
  row-gap: 10px;
}
.img {
  object-fit: cover;
  width: 100%;
}
.footer {
  padding: 0px 10px 0px 10px;
}
.footer__title {
  padding-top: 250px;
  padding-bottom: 250px;
}
