/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-color: var(--page-background-color);
  display: grid;
  grid-template-columns: 100%;
  row-gap: 6vh;
  background-attachment: fixed;
  background-image: var(--page-background-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.background__text {
  background-color: var(--accent-color);
}

.text {
  font-family: "IBM Plex Mono", sans-serif;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  font-size: var(--main-text-size);
  color: var(--main-color);
  line-height: var(--text-line-height);
}

.decorated-zone::before {
  content: "";
  display: block;
  position: absolute;
  height: 25px;
  width: 25px;
  right: 10px;
  border-top: 1px;
  border-right: 1px;
  border-bottom: 0px;
  border-left: 0px;
  border-style: solid;
  border-color: var(--menu-color);
}

.decorated-zone::after {
  content: "";
  display: block;
  position: absolute;
  left: 10px;
  height: 25px;
  width: 25px;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 1px;
  border-left: 1px;
  border-style: solid;
  border-color: var(--menu-color);
}

.decorate-rec::before {
  content: "REC";
  display: none;
  color: var(--menu-color);
  position: absolute;
  left: -43px;
  top: -8px;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.decorate-rec {
  /* content: ""; */
  position: absolute;
  display: none;
  right: 20px;
  top: var(--rec-top);
  width: 9px;
  height: 9px;
  background-color: #ff0070;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px #ff0070;
}

.header {
  padding: var(--header-padding);

  /* display: flex; */
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 0.82;
  color: var(--header-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  padding: var(--header-title-padding);
  position: relative;
  left: var(--header-title-left);
}

.header__theme-menu {
  width: var(--menu-width);
  padding-top: 65px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: var(--menu-flex-direction);
  gap: 10px;
  align-items: end;
  justify-content: center;
  /* position: relative; */
}

.header__theme-menu-button {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-transform: lowercase;
  border: none;
  color: var(--menu-color);
  padding: 1.5px 13px 4px 13px;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--menu-hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--menu-accent-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--menu-color);
  pointer-events: none;
}

.header__container {
  display: grid;
  height: var(--header-footer-height);
  grid-template-columns: 100%;
  row-gap: var(--header-gap);
}

.header__discription {
  margin-bottom: 30px;
  font-weight: 700;
  color: var(--card-title-color);
}
/*--------------------MAIN--------------------*/
.main__container {
  padding: var(--main-padding);
  display: grid;
  grid-template-columns: 100%;
  row-gap: var(--main-row-gap);
}

.section__container {
  display: grid;
  grid-template-columns: var(--section-columns);
  row-gap: var(--section-row-gap);
  column-gap: var(--section-col-gap);
}

.main__title {
  font-weight: 700;
  color: var(--menu-color);
}

.card__title {
  font-weight: 700;
  color: var(--card-title-color);
}

.text__link {
  text-shadow: var(--accent-color) 2px 2px;
  text-decoration: none;
}

.text__link:hover {
  text-decoration: none;
  border-bottom: 1px solid var(--main-color);
}

.text__link:focus {
  outline: none;
}

.text__link:focus-visible {
  outline: var(--main-color) 1px solid;
}

.block__title {
  font-weight: 400;
  color: var(--card-title-color);
}

.card {
  grid-column-start: var(--card-grid-column-start);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content;
  row-gap: var(--card-row-gap);
}

.cards {
  display: grid;
  grid-template-columns: 100%;
  row-gap: var(--cars-row-gap);
}

.card-images {
  margin-top: var(--card-image-margin-top);
  display: grid;
  grid-template-columns: var(--card-image-template-columns);
  row-gap: var(--card-image-row-gap);
}

.img {
  object-fit: cover;
  width: 100%;
}

.footer {
  padding: var(--header-padding);
  height: var(--header-footer-height);
}

.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 0.82;
  color: var(--header-title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  position: relative;
  letter-spacing: var(--header-title-letter-spacing);
  padding: 276px 0 252px 0;
}

@media (width>375px) {
  .page {
    row-gap: 8.105vh;
  }
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  .header__theme-menu {
    padding-top: 173px;
  }
  /* -------------s-d-sadasdsad */
  .header__discription {
    margin-top: 10.352vh;
    margin-bottom: 13.672vh;
    justify-self: end;
    width: 47.4vw;
  }
  .decorated-zone::after {
    left: 20px;
  }
  .decorated-zone::before {
    right: 20px;
  }
  .decorate-rec {
    right: 30px;
  }
  .card-images {
    gap: 20px;
  }

  .section-drop {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .main__title {
    width: 30.729vw;
  }
  .cards {
    display: flex;
    flex-direction: column;
  }
  .img {
    height: 100%;
  }
  .img__sunset {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .img__ice-cream {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .img__tape {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
  }
  .img__books {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .img__street {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .footer {
    padding: 0px 20px 20px 20px;
  }
  .footer__title {
    text-align: center;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    padding: 436px 0 416px 0;
  }
}

@media (width>768px) {
  .page {
    row-gap: 11.068vh;
  }
  .header__theme-menu {
    padding-top: 0px;
  }

  .header__discription {
    width: 47.7vw;
    margin-top: 7.813vh;
    margin-bottom: 11.719vh;
  }

  .section-drop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
  }
  .drop-title {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .drop-cards {
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    gap: 20px;
  }
  .card {
    flex-basis: calc(100% / 3);
  }
  .footer__title {
    padding: 294px 0 274px 0;
  }
}
