/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-padding: 0px 10px 0px 10px;
  --main-text-size: 18px;
  --header-title-padding: 70px 0px 0px 0px;
  --header-gap: 55px;
  --main-row-gap: 50px;
  --section-columns: clamp(355px, 95vw);
  --section-row-gap: 20px;
  --section-col-gap: 0px;
  --text-line-height: 23.4px;
  --card-row-gap: 10px;
  --cars-row-gap: 20px;
  --card-image-margin-top: 10px;
  --card-image-row-gap: 10px;
  --header-title-left: 0px;
  --header-disc-margin: 0px 0px 30px 0px;
  --card-grid-column-start: 1;
  --card-image-template-columns: 100%;
  --menu-flex-direction: column;
  --header-padding: 10px 10px 35px 10px;
  --header-footer-height: min(100vh, 668px);
  --rec-top: 19px;
}

@media (width>375px) {
  :root {
    --header-padding: 20px;
    --header-title-padding: 175px 0px 0px 0px;
    --header-title-left: -20px;
    --header-title-letter-spacing: 2px;
    --header-disc-margin: 108px 0px 135px 364px;
    --header-footer-height: min(100vh, 1024px);
    --main-padding: 0px 20px 0px 20px;
    --section-drop-grid-template: 236px 1fr;
    --card-grid-column-start: 2;
    --section-col-gap: 20px;
    --section-columns: 1fr 2fr;
    --section-row-gap: 20px;
    --main-row-gap: 80px;
    --card-image-margin-top: 60px;
    --card-image-template-columns: 1fr 1fr 1fr;
    --card-image-margin-top: 20px;
    --rec-top: 29px;
  }
}

@media (width>768px) {
  :root {
    --header-title-color: #ffc2e6;
    --header-footer-height: min(100vh, 768px);
    --accent-color: #ff0070;
    --header-title-padding: 272px 0px 0px 0px;
    --header-title-letter-spacing: 0px;
    --section-row-gap: 20px;
    --section-col-gap: 10px;
    --menu-flex-direction: row;
    --menu-width: calc(100vw - 40px);
    --rec-top: 28px;
    --header-padding: 20px;
    --card-grid-column-start: 2;
  }
}
