/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --header-padding: 10px;
  --main-padding: 0px 10px 0px 10px;
  --main-text-size: 18px;
  --header-title-padding: 70px 0px 0px 0px;
  --header-gap: 55px;
  --header-menu-margin-top: 40px;
  --header-margin-bot: 31px;
  --page-max-width: 375px;
  --main-row-gap: 50px;
  --section-columns: 355px;
  --section-row-gap: 20px;
  --section-col-gap: 0px;
  --text-line-height: 23.4px;
  --card-row-gap: 10px;
  --cars-row-gap: 20px;
  --subcards-row-gap: 10px;
  --card-image-margin-top: 10px;
  --card-image-row-gap: 10px;
  --footer-padding: 10px 10px 0px 10px;
  --footer-title-padding: 250px;
  --header-title-left: 0px;
  --header-disc-margin: 0px 0px 30px 0px;
  --card-grid-column-start: 1;
  --one-column-grid-template: 1fr;
  --page-row-gap: 40px;
  --card-image-template-columns: 100%;
  --rec-display: none;
  --menu-flex-direction: column;
  --header-height: min(100vh, 668px);
  --header-padding: 10px;
  --footer-height: min(100vh, 668px);
  --footer-padding: 10px;
  --rec-top: 19px;
}

@media (width>375px) {
  :root {
    --page-max-width: 768px;
    /* --page-padding: 20px solid transparent; */
    --decorated-zone-left: 708px;
    --header-padding: 20px;
    --header-title-padding: 175px 0px 0px 0px;
    --header-menu-margin-top: 147px;
    --header-title-left: -20px;
    --header-title-letter-spacing: 2px;
    --header-disc-margin: 112px 0px 135px 364px;
    --section-columns: 1fr 2fr;
    --main-padding: 0px 20px 0px 20px;
    --section-col-gap: 20px;
    --card-grid-column-start: 2;
    --one-column-grid-template: 1fr 1fr 1fr 1fr;
    --page-row-gap: 60px;
    --main-row-gap: 80px;
    --card-image-margin-top: 60px;
    --card-image-template-columns: 1fr 1fr 1fr;
    --card-image-margin-top: 20px;
    --footer-title-padding: 420px;
    --footer-padding: 0px 20px 0px 20px;
    --rec-left: 730px;
    --rec-top: 29px;
    --header-height: min(100vh, 1024px);
    --footer-height: min(100vh, 1024px);
    --footer-padding: 20px;
  }
}

@media (width>768px) {
  :root {
    --page-max-width: 1024px;
    --header-menu-margin-top: 0px;
    --decorated-zone-left: 979px;
    --header-title-font-size: 157px;
    --header-title-color: #ffc2e6;
    --accent-color: #ff0070;
    --header-title-padding: 273px 0px 0px 0px;
    --header-title-letter-spacing: 0px;
    --header-disc-margin: 60px 0px 90px 493px;
    --section-row-gap: 20px;
    --section-col-gap: 10px;
    --footer-title-padding: 314px;
    --menu-flex-direction: row;
    --menu-width: calc(100vw - 40px);
    --rec-top: 28px;
    --rec-left: 986px;
    --header-height: min(100vh, 768px);
    --header-padding: 20px;
    --footer-height: min(100vh, 768px);
    --footer-padding: 20px;
  }
  .header__discription {
    width: 47.7vw;
  }
}
